---
import HeaderLink from './HeaderLink.astro';
import { ModeToggle } from '@/components/ui/ModeToggle';
import { Icon } from 'astro-icon/components';
---
<div class="center">
	<header class="bg-primary">
		<nav>
			<div class="logo">
				<img src="/src/assets/logo_no_bk.png" alt="Logo" />
			</div>
			<div class="internal-links transition-colors">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/about">Sobre</HeaderLink>
				<HeaderLink href="/blog">Eventos</HeaderLink>
				<HeaderLink href="/team">Administração</HeaderLink>
				<HeaderLink href="/faq">FAQ</HeaderLink>
				<HeaderLink href="/contact">Contactos</HeaderLink>
			</div>
			<div class="social-links">
				<a href="https://www.instagram.com/mustangclubdonorte/">
					<Icon name="line-md--instagram" />
				</a>
				<a href="https://www.tiktok.com/@mustangclubedonorte">
					<Icon name="line-md--tiktok" />
				</a>
			</div>
			<div class="external-links">
				<ModeToggle client:load />
			</div>
		</nav>
	</header>
</div>

<style>
	.center {
		margin: auto;
		width: 50%;
	}

	header {
		margin: 3%;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		border-radius: 15px;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo img {
		max-height: 50px;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
