---
import Layout from '../layouts/BlogPost.astro';
import { ProfileForm } from '../components/contact';
---

<Layout
	title="Contacte-nos"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2024')}
	heroImage="/src/assets/logo.jpeg"
>
	<main>
		<p>Em caso de dúvida não hesite em nos contactar, seja através das nossas redes socias, formulário ou email.</p>
		<p>Seremos o mais breves possiel na resposta!</p>
		<hr>
		<ProfileForm client:load></ProfileForm>
	</main>
</Layout>
