---
import Layout from '../layouts/BlogPost.astro';
import { Card, CardContent } from "@/components/ui/card"

const team = [
    { src: '/src/assets/team/team-1.jpg', alt: 'Team 1' },
    { src: '/src/assets/team/team-2.jpg', alt: 'Team 2' },
	{ src: '/src/assets/team/team-3.jpg', alt: 'Team 3' },
	{ src: '/src/assets/team/team-4.jpg', alt: 'Team 4' },
  ];
---
<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		text-align: center;
	}
	img {
		width: 100%;
		height: auto; /* Set a fixed max-width */
		transition: box-shadow 0.2s ease;
		display: block;
		margin: 0 auto; /* Center image */
	}
</style>
<Layout
	title="Administração"
	description="A equipa"
	pubDate={new Date('August 08 2024')}
	heroImage="/src/assets/logo.jpeg"
>

<table>
	<tr>
		{team.map((data) => (
		<th>
			<Card>
				<CardContent className="flex items-center justify-center p-6">
					<img src={data.src} alt={data.alt} class="w-full h-full object-cover" /> 
				</CardContent>
			</Card>
		</th>
		))
		}
	</tr>
</table>
</Layout>
